h3{
    color: red;
    text-align: center;
    font-size: 30px;
}
p{
    text-align: justify;
}
body{
    background-color: gold;
}
img{
    width: 200px;
    height: 300px;
    border-radius: 30%;
    border: 2px dashed black
}